.CardBoard {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(3, 160px);
  gap: 25px;
  justify-content: center;
  align-content: center;
}

@media screen and (min-width: 1220px) {
  .CardBoard {
    grid-template-columns: repeat(4, 160px);
    grid-template-rows: repeat(3, 240px);
  }
}
