.CardBoard {
  width: 100vw;
  display: grid;
  padding: 50px;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(3, 160px);
  gap: 25px;
  justify-content: center;
}

/* @media screen and (min-width: 1350px) {
  .CardBoard {
    grid-template-columns: repeat(4, 120px);
    grid-template-rows: repeat(3, 170px);
  }
} */
