.card {
  display: flex;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 1px 1px 3px #686868;
  background-color: white;
  background-size: 70%;
  background-position: center;
  transition: "0.6s";
}

/*
Color pallete
	#bd221f
  	#099eda
	#fee301
  	#abb7bd
    	#ffffff
      */
